body {
    display: flex;
    justify-content: space-between;
}

#left-nav {
    background-color: var(--dark-purple);
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#artist h1 {
    margin: 0;
}

#artist img {
    width: 175px;
    height: 175px;
    border-radius: 100%;
}

#cards {
    margin-left: 6%;
    margin-right: 6%;
    flex: 1;
    margin-top: 10%;
}

.card-item {
    padding: 5px 12px;
    border-radius: 7px;
    margin-top: 10px;
    height: 40px;

    color: var(--secondary-text-color);
    background-color: var(--medium-purple);

    display: flex;
    align-items: center;

    cursor: pointer;
}

.card-item-selected {
    background-color: var(--light-purple);
    color: var(--primary-text-color);
}


.card-item img {
    width: 26px;
    height: 26px;
}

.card-item p {
    margin-left: 12px;   
}


.options-item {
    margin-left: 20px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;

    cursor: pointer;
}

.options-item img {
    width: 26px;
    height: 26px;
}

.options-item p {
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 0px;
}

.options-item:last-child {
    margin-bottom: 30px;
}

main {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
}

main h1 {
    grid-column-start: 1;
    grid-column-end: 5;

    margin: 68px 0 10px 85px;
    
    font-size: 40pt;
}

main div h3 {
    font-size: 20pt;
}

main div p {
    font-size: 15pt;
}

main .main-column:first-of-type {
    grid-column-start: 1;
    grid-column-end: 3;

    margin-left: 85px;
}

main .main-column:last-of-type {
    grid-column-start: 3;
    grid-column-end: 5;
}

#chart-container {
    width: 200px;
    height: 200px;

    margin-left: 40px
}

#chat_div {
    background-color: black;
}

.music-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid var(--secondary-text-color);
    border-radius: 10px;

    margin: 10px 37px 0 0;

    overflow: hidden;
    cursor: pointer;
}

.music-card img:first-child {
    width: 80px;
    height: 80px;
}

.music-card-song {
    display:flex;
}

.music-card-song div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 22px;
}

.music-card-song h5 {
    margin: 0;
    font-size: large;
}

.music-card-song h6 {
    color: var(--secondary-text-color);
    margin: 3px 0 0 0;
}
