:root {
    --almost-black: #0d0917;
    --dark-purple: #332a50;
    --medium-purple: #443C68;
    --light-purple: #635985;
    --primary-text-color: #fff;
    --secondary-text-color: #C9C2C2;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--almost-black);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--primary-text-color);
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: 300;
}