body {
    background-color: #18122B;
}

#navbars{
    display: flex;
    justify-content: space-between;
}

#playlists.side-nav{
    background-color: #393053;
    height: 100vh;
    width: 20vw;
}

#player.side-nav{
    display: flex;
    float: right;
    background-color: #393053;
    height: 100vh;
    width: 20vw;
}