<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('header'); -%>
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/usuario.css">
    <link rel="stylesheet" href="./styles/usuario_home.css">
    <title>SoundSpace</title>
</head>
<body>
    <%- include('left_nav'); -%>

    <main>
        <h1>Bem-vindo, Davi!</h1>
        
        <div class="playlist-section">
            <div class="playlist-section-name">
                <h2>Minhas Playlists</h2>
            </div>
            <div class="playlist-cards">
                
                <div class="playlist-card">
                    <img src="./images/music.png" alt="">
                    <h3>Músicas Curtidas</h3>
                </div>

                <div class="playlist-card">
                    <img src="./images/repeat.png" alt="">
                    <h3>No Repeat</h3>
                </div>
            </div>
        </div>
        
        <div class="playlist-section">
            <div class="playlist-section-name">
                <h2>Playlists do mundo</h2>
            </div>
            <div class="playlist-cards">
                
                <div class="playlist-card">
                    <img src="./images/trending.png" alt="">
                    <h3>Em alta</h3>
                </div>
                
                <div class="playlist-card">
                    <img src="./images/new.png" alt="">
                    <h3>Novidades</h3>
                </div>
                
            </div>
        </div>

        <div class="playlist-section">
            <div class="playlist-section-name">
                <h2>Álbuns em destaque</h2>
            </div>
            <div class="playlist-cards">
                
                <div class="album-card">
                    <img src="./images/album.jpg" alt="">
                    <div class="album-artist">
                        <h3>Starboy</h3>
                        <h4>The Weeknd</h4>
                    </div>

                </div>
                
                <div class="album-card">
                    <img src="./images/eminem-album2.jpg" alt="">
                    <div class="album-artist">
                        <h3>Encore</h3>
                        <h4>Eminem</h4>
                    </div>
                </div>
                
            </div>
        </div>


    </main>

    <% if (user) { %>
           <%- include('player'); -%>
    <% } else { %>
           <%- include('login_nav'); -%>
    <%   }%>
    <script src="./scripts/high_contrast.js"></script>
</body>
</html>