<div id="right-nav">
    <div id="login-signin-buttons">
        <a href="#">Cadastre-se</a>
        <p>ou</p>
        <a href="#">Faça Login</a>
        <p>para ouvir suas músicas favoritas</p>
    </div>

</div>