<div id="left-nav">
    <div id="artist">
        <img src="/images/eminem.png" alt="">
        <h1>{{artist.name}}</h1>
    </div>
    <div id="cards">
        <a class="card-item {% if statsPage %} card-item-selected {% endif %}" href="/artist/{{artist.id}}/">
            <img src="/images/estatisticas.png" alt="">
            <p>Estatísticas</p>
        </a>
        <a class="card-item {% if addPage %} card-item-selected {% endif %}" href="/artist/{{artist.id}}/add">
            <img src="/images/botao-adicionar.png" alt="">
            <p>Adicionar</p>
        </a>
        <a class="card-item {% if albumsPage %} card-item-selected {% endif %}" href="/artist/{{artist.id}}/albums">
            <img src="/images/albuns.png" alt="">
            <p>Álbuns</p>
        </a>
    </div>
    <div id="options">
        <div class="options-item">
            <button id="high-contrast-button">Ativar Alto Contraste</button>
        </div>
        <div class="options-item">
            <img src="/images/settings.png" alt="">
            <p>Configurações</p>
        </div>
    </div>
</div>