{% extends "base.njk" %}

{% block header %}
    <link rel="stylesheet" href="/styles/artista.css">
    <link rel="stylesheet" href="/styles/artista_album.css">
    <title>SoundSpace</title>
{% endblock  %}

{% block content %}
    {% include "partials/artista_left_nav.njk" %}
    <main>
        {% include "components/artista_album_content.njk" %}
    </main>

{% endblock  %}