{% extends "base.njk" %}

{% block header %}
    <link rel="stylesheet" href="/styles/artista.css">
    <link rel="stylesheet" href="/styles/artista_albuns.css">
    <title>SoundSpace</title>
{% endblock  %}

{% block content %}
    {% include "partials/artista_left_nav.njk" %}
    <main>
        <h1>Meus Álbuns</h1>
        <div class="albuns-grid">
            {% include "components/artist_albums.njk" %}
        </div>
    </main>

    <script src="/scripts/high_contrast.js"></script>
    <script src="/scripts/album_page_content.js"></script>
{% endblock  %}