{% extends "base.njk" %}

{% block header %}
    <link rel="stylesheet" href="/styles/artista.css">
    <link rel="stylesheet" href="/styles/artista_add.css">
    <title>SoundSpace</title>
{% endblock  %}

{% block content %}
    {% include "artista_left_nav.njk" %}

    <main>
        <h1>Adicionar</h1>
        <form action="/artist/{{artist.id}}/album" method="post" id="album-form" enctype="multipart/form-data">
            <input name="name" type="text" value="" placeholder="Nome do álbum" required>
            <input name="cover" type="file" value="" alt="">
            <input id="submit-form-button" type="submit" value="Criar Álbum">
        </form>
    </main>

    <script src="/scripts/high_contrast.js"></script>
{% endblock  %}