{% extends "base.njk" %}

{% block header %}
    <link rel="stylesheet" href="/styles/gravadora.css">
    <link rel="stylesheet" href="/styles/gravadora_stats.css">
    <title>SoundSpace</title>
{% endblock %}

{% block content %}
    {% include "partials/gravadora_left_nav.njk" %}

    <main>
        <h1>Estatísticas</h1>

        <div class="main-column">
            <h3>Artista em Destaque</h3>
            {% include "partials/gravadora_top_artists.njk" %}
        </div>
    </main>
{% endblock %}