{% extends "base.njk" %}

{% block header %}
    <link rel="stylesheet" href="/styles/nav.css">
    <title>SoundSpace</title>
{% endblock %}

{% block content %}

    {% include "./partials/nav.njk" %}

    <main>

        <h1>Home Page</h1>
        <a href="/artist/"><h3>É artista e gostaria de publicar seu trabalho no SoundSpace? Clique aqui!</h3></a>

    </main>



{% endblock %}