{% extends "base.njk" %}

{% block header %}
    <link rel="stylesheet" href="/styles/nav.css">
    <title>SoundSpace</title>
{% endblock %}

{% block content %}

    {% include "./partials/artista_nav.njk" %}

    <main>

        <h1>Publique seu trabalho agora mesmo!</h1>
        <h2>Basta entrar ou criar sua conta</h2>

    </main>



{% endblock %}