{% extends "base.njk" %}

{% block header %}
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/index.css">
    <title>SoundSpace</title>
{% endblock %}

{% block content %}

    {% include "./partials/gravadora_nav.njk" %}

    <main>

        <div>
            <h1>SoundSpace para Gravadoras</h1>
            <h2>Gerencie seus artistas agora mesmo!</h2>
        </div>

    </main>



{% endblock %}