{% extends "base.njk" %}

{% block header %}
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/index.css">
    <title>SoundSpace</title>
{% endblock %}

{% block content %}

    {% include "./partials/nav.njk" %}

    <main>

        <div>
            <h1>SoundSpace</h1>
            <h2>Para os amantes da 4ª arte</h2>
        </div>

        <footer>
            <a href="/artist/"><h3>É artista e gostaria de publicar seu trabalho no SoundSpace? Clique aqui!</h3></a>
        </footer>

    </main>



{% endblock %}