{% extends "base.njk" %}

{% block header %}
    <link rel="stylesheet" href="/styles/usuario.css">
    <link rel="stylesheet" href="/styles/usuario_home.css">
    <link rel="stylesheet" href="/styles/usuario_playlist.css">
    <title>SoundSpace</title>
{% endblock %}

{% block content %}

    {% include "./partials/left_nav.njk" %}

    <main>


        {% include "home.njk" %}


    </main>

    {% include "./partials/player.njk" %}


    <script src="/scripts/player.js"></script>

{% endblock %}