<div id="left-nav">
    <div id="playlists-cards">
        <h1>Playlists</h1>
        <div class="card-item">
            <img src="./images/music.png" alt="music icon">
            <p>Músicas Curtidas</p>
        </div>
        <div class="card-item">
            <img src="./images/music.png" alt="music icon">
            <p>Playlist 1</p>
        </div>
        <div class="card-item">
            <img src="./images/music.png" alt="music icon">
            <p>Playlist 2</p>
        </div>
    </div>
    <div id="options">
        <div class="options-item">
            <button id="high-contrast-button">Ativar Alto Contraste</button>
        </div>
        <div class="options-item">
            <img src="./images/home.png" alt="">
            <p>Página Inicial</p>
        </div>
        <div class="options-item">
            <img src="./images/user.png" alt="">
            <p>Usuário</p>
        </div>
        <div class="options-item">
            <img src="./images/settings.png" alt="">
            <p>Configurações</p>
        </div>
    </div>
</div>