<div id="left-nav">
    <div id="search">
        <input type="text" placeholder="Pesquisar"></input>
        <button><img src="/images/search.png"></button>
    </div>

    <div id="playlists-cards">
        <h1>Playlists</h1>

        {% for playlist in playlists %}
            <div class="card-item" onClick="handlePlaylistCardClick({{ playlist.id }})">
                <img src="/images/music.png" alt="music icon">
                <p>{{ playlist.title }}</p>
            </div>
            
        {% endfor %}
        
    </div>
    <div id="options">
        <div class="options-item">
            <button id="high-contrast-button">Ativar Alto Contraste</button>
        </div>
        <div class="options-item">
            <img src="/images/home.png" alt="">
            <p>Página Inicial</p>
        </div>
        <div class="options-item" onClick="logout()">
            <img src="/images/user.png" alt="">
            <p>Usuário</p>
        </div>
        <div class="options-item">
            <img src="/images/settings.png" alt="">
            <p>Configurações</p>
        </div>
    </div>
</div>

<script>
    function logout(){
        document.cookie = "user_id=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        window.location.replace("http://localhost:8080");
    }
</script>