<h1>Músicas Curtidas</h1>

{% for music in musics %}
    <div class="music-card">
        <div class="music-card-song">
            <img src="./images/album.jpg" alt="">
            <div>
                <h5>{{ music.title }}</h5>
                <h6>{{ music.artist }}</h6>
            </div>
        </div>
        <img src="./images/play.png" alt="">
    </div>
{% endfor %}