{% extends "base.njk" %}

{% block header %}
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/signin.css">
    <title>Sign In</title>
{% endblock %}

{% block content %}
    {% include "./partials/nav.njk" %}

    <main>
        <div>
            <h1>Acesso negado</h1>
        </div>


    </main>

{% endblock %}