<div id="left-nav">
    <div id="artist">
        <img src="data:image/png;base64,{{artist.profilePicture}}" alt="">
        <h1>{{artist.name}}</h1>
    </div>
    <div id="cards">
        <a class="card-item {% if statsPage %} card-item-selected {% endif %}" href="/artist/{{artist.id}}/">
            <img src="/images/estatisticas.png" alt="">
            <p>Estatísticas</p>
        </a>
        <a class="card-item {% if addPage %} card-item-selected {% endif %}" href="/artist/{{artist.id}}/add">
            <img src="/images/botao-adicionar.png" alt="">
            <p>Criar Álbum</p>
        </a>
        <a class="card-item {% if albumsPage %} card-item-selected {% endif %}" href="/artist/{{artist.id}}/albums">
            <img src="/images/albuns.png" alt="">
            <p>Álbuns</p>
        </a>
    </div>
    <div id="options">
        <div class="options-item">
            <button class="acessibility-button" onClick="changeFontSize('-')">A-</button>
            <button class="acessibility-button" onClick="changeFontSize('+')">A+</button>
        </div>
        <div class="options-item">
            <button id="high-contrast-button" class="high-contrast" onClick="changeHighContrastColors(event)">Ativar Alto Contraste</button>
        </div>
        <div class="options-item">
            <img src="/images/settings.png" alt="">
            <p>Configurações</p>
        </div>
        <div class="options-item" onClick="logout()">
            <img src="/images/user.png" alt="">
            <p>Sair</p>
        </div>
    </div>
</div>

<script>
    function logout(){
        document.cookie = "artist_id=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        window.location.replace("http://localhost:8080/artist");
    }
</script>
<script src="/scripts/change_font.js"></script>