<nav>
    <a href="/">SoundSpace</a>
    <div>
        <button onClick="changeFontSize('-')">A-</button>
        <button onClick="changeFontSize('+')">A+</button>
        <button onClick="changeHighContrastColors(event)" class="high-contrast">Ativar Alto Contraste</button>
        <a href="/record/login">Entrar</a>
        <a href="/record/signin">Criar Conta</a>
    </div>
</nav>