<div id="left-nav">
    <div id="search">
        <input type="text" placeholder="Pesquisar"></input>
        <button><img src="/images/search.png"></button>
    </div>
    <div id="dropdown">
    </div>

    <div id="playlists-cards">
        {% include "./playlists_cards.njk" %}
    </div>
    <div id="options">
        <div class="options-item">
            <button class="acessibility-button" onClick="changeFontSize('-')">A-</button>
            <button class="acessibility-button" onClick="changeFontSize('+')">A+</button>
        </div>
        <div class="options-item">
            <button id="high-contrast-button">Ativar Alto Contraste</button>
        </div>
        <div class="options-item" onClick="handleHomeButtonClick()">
            <img src="/images/home.png" alt="">
            <p>Página Inicial</p>
        </div>
        <div class="options-item" onClick="logout()">
            <img src="/images/user.png" alt="">
            <p>Sair</p>
        </div>
        <div class="options-item">
            <img src="/images/settings.png" alt="">
            <p>Configurações</p>
        </div>
    </div>
</div>

<div class="modal">
    <div class="modal-content">
        <span class="close-modal">&times;</span>
        <form method="post" id="modal-form" onsubmit="createPlaylistAndRetrievePlaylistsContent(event)">
            <input type="text" name="playlist_name" value="" placeholder="Nome da Playlist">
            <input type="submit" value="Criar" id="submit-create-playlist">
        </form>
    </div>
</div>

<script>
    function logout(){
        document.cookie = "user_id=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        window.location.replace("http://localhost:8080");
    }
</script>

<script src="/scripts/left_nav_modal.js"></script>
<script src="/scripts/search.js"></script>