<div id="right-nav">
    <audio preload="auto"></audio>
    <div class="music-player">
        <div class="music-player-song">
            <img src="/images/album.jpg" alt="Album cover">
            <h1>Starboy</h1>
            <h3>The Weeknd</h3>
        </div>
        <div class="music-player-controls">
            <div class="music-progress-bar">
                <span id="current-time" class="time">00:00</span>
                <input type="range" id="seek-slider" max="100" value="0">
                <span id="duration" class="time">00:00</span>
            </div>
            <div class="music-player-buttons">
                <img src="/images/player-controls/previous.png" alt="Previous">
                <div id="play-pause-button">
                    <img src="/images/player-controls/play.png" alt="Pause" class="play-pause">
                    <img src="/images/player-controls/pause.png" alt="Pause" class="play-pause">
                </div>
                <img src="/images/player-controls/next.png" alt="Next">
            </div>
        </div>

    </div>

    <div class="queue">
        <h2>Fila de Reprodução</h2>
        <div class="queue-item">
            <img src="/images/album.jpg" alt="">
            <div>
                <h3>Earned it</h3>
                <h4>The Weeknd</h4>
            </div>
        </div>
        
        <div class="queue-item">
            <img src="/images/album.jpg" alt="">
            <div>
                <h3>Die For You</h3>
                <h4>The Weeknd</h4>
            </div>
        </div>

    </div>

</div>