<h1>Configurações</h1>

<div>
    <form action="post" id="change-password-form">
        <input type="password" name="password" placeholder="Alterar Senha">
        <input type="submit" value="Alterar Senha">
    </form>

    <button id="remove-user-button" onClick="deleteUser()">Excluir Usuário</button>
</div>