:root {
    --almost-black: #0d0917;
    --dark-purple: #332a50;
    --medium-purple: #443C68;
    --light-purple: #635985;
    --primary-text-color: #fff;
    --secondary-text-color: #C9C2C2;
}

main {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;

    margin-left: 20vw;
}

main h1{
    grid-column-start: 1;
    grid-column-end: 5;

    margin: 68px 0 10px 85px;

    font-size: 40pt;
}

main .main-column:first-of-type {
    grid-column-start: 1;
    grid-column-end: 3;
    
    margin-left: 85px;
}

/* main .main-column:last-of-type {
    grid-column-start: 3;
    grid-column-end: 5;
} */

main div h3 {
    font-size: 20pt;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 26vw;
    height: 70px;
    border: 1px solid var(--secondary-text-color);
    border-radius: 10px;
    margin: 10px 37px 0 0;

    overflow: hidden;
    cursor: pointer;
}

.genre-card {
    display: flex;
    padding-left: 33px;
}

.genre-card h3 {
    font-size: larger;
}

.artist-card {
    display: flex;
}

.artist-card div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 22px;
}

.artist-card img {
    width: 70px;
    height: 70px;

    object-fit: cover;
}

.artist-card h3 {
    font-size: larger;
}