:root {
    --almost-black: #0d0917;
    --dark-purple: #332a50;
    --medium-purple: #443C68;
    --light-purple: #635985;
    --primary-text-color: #fff;
    --secondary-text-color: #C9C2C2;
}

nav {
    background-color: var(--dark-purple);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;

    height: 60px;
}

nav > div {
    display: flex;
    justify-content: space-between;
}

div > button {
    color: var(--primary-text-color);
    background-color: var(--medium-purple);

    border: none;
    border-radius: 7px;

    cursor: pointer;
}

nav > div > a, nav > div > button {
    margin-left: 7px;
}


nav a {
    display: flex;

    min-width: 100px;
    min-height: 30px;

    color: var(--primary-text-color);
    background-color: var(--medium-purple);

    border: none;
    border-radius: 7px;

    text-decoration: none;
    
    justify-content: center;
    align-items: center;

    padding-left: 5px;
    padding-right: 5px;
}

nav > a {
    width: 150px;

    display: flex;

    text-decoration: none;
    background: none;

    font-size: 1.5em;
}