:root {
    --almost-black: #0d0917;
    --dark-purple: #332a50;
    --medium-purple: #443C68;
    --light-purple: #635985;
    --primary-text-color: #fff;
    --secondary-text-color: #C9C2C2;
}

body{
    display: flex;
    justify-content: space-between;
}

#left-nav {
    background-color: var(--dark-purple);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left-nav h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 300;
}

#search {
    margin-top: 10px;
    margin-left: 10px;

    display: flex;

    justify-content: center;
    align-items: center;
}

#search input {
    border-radius: 7px 0 0 7px;
    background-color: var(--light-purple);
    border: none;
    
    height: 33px;
    
}

#search input::placeholder {
    color: var(--secondary-text-color);
    padding-left: 5px;
}

#search button {
    background-color: var(--light-purple);
    border: none;
    border-radius: 0 7px 7px 0;

    width: 35px;
    height: 35px;
}

#search img {
    width: 20px;
    height: 20px;
}

#playlists-cards {
    margin-left: 6%;
    margin-right: 6%;

    display: flex;
    flex-direction: column;
}

.card-item {
    padding: 5px 12px;
    border-radius: 7px;
    margin-top: 10px;
    height: 40px;

    color: var(--secondary-text-color);
    background-color: var(--medium-purple);

    display: flex;
    align-items: center;

    cursor: pointer;
}

.card-item img {
    width: 26px;
    height: 26px;
}

.card-item p {
    margin-left: 12px;   
}

#add-playlist-button {
    border: none;
    background: none;

    margin-top: 10px;

    cursor: pointer;
}

#add-playlist-button img {
    width: 35px;
    height: 35px;
}

.modal {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 20vw;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    background-color: var(--medium-purple);
    margin: auto;
    padding: 20px;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content form input {
    background-color: var(--light-purple);
    border-radius: 7px;
    border: none;
    color: var(--primary-text-color);

    margin: 0 10px;

    width: 170px;
    height: 20px;

    padding: 5px;
}

.modal-content form input:last-child {
    padding: 0;
    width: 50px;
    height: 25px;

    margin-top: 10px;

    cursor: pointer;
}

.modal-content form input::placeholder {
    color: var(--primary-text-color);
}

.close-modal {
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.close-modal:hover {
    color: var(--secondary-text-color);
}

.options-item {
    margin-left: 20px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;

    cursor: pointer;
}

.options-item img {
    width: 26px;
    height: 26px;
}

.options-item p {
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 0px;
}

.options-item:last-child {
    margin-bottom: 30px;
}

#high-contrast-button {
    color: var(--primary-text-color);
    background-color: var(--light-purple);
    border: 0;
    height: 35px;
    width: 60%;
    border-radius: 7px;

    cursor: pointer;
}

#right-nav {
    background-color: var(--dark-purple);
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.music-player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music-player-song{
    width: 20vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
}

.music-player-song img:first-child{
    width: 20vw;
    object-fit: cover;
}

.music-player-song h1{
    margin: 17px 0 0 0;
    font-weight: 300;
}

.music-player-song h3{
    color: var(--secondary-text-color);
    margin: 5px 0 0 0;
}

.music-progress-bar {
    width: 18vw;
    height: 5px;

    margin-top: 20px;

    border-radius: 15px;
    background-color: var(--light-purple);

    overflow: hidden;
}

.music-progressed-bar {
    width: 40%;
    height: 5px;

    border-radius: 15px;
    background-color: var(--primary-text-color);
}

.music-player-buttons {
    width: 18vw;
    margin-top: 20px;
    
    display: flex;
    justify-content: space-evenly;
}

.music-player-buttons img{
    width: 35px;
    cursor: pointer;
}

.queue {
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: auto;
}

.queue-item {
    width: 18vw;
    height: 70px;

    margin-bottom: 27px;

    display: flex;

    color: var(--secondary-text-color);
    background-color: var(--medium-purple);

    border-radius: 10px;

    overflow: hidden;

    cursor: pointer;
}

.queue-item:last-child{
    margin-bottom: 0;
}

.queue-item img {
    width: 70px;
    height: 70px;

    object-fit: cover;
}

.queue-item div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 22px;
}

.queue-item h3{
    margin: 0;
    color: var(--primary-text-color);
}

.queue-item h4{
    color: var(--secondary-text-color);
    margin: 3px 0 0 0;
}

#login-signin-buttons {
    display: flex;
    flex-direction: column;
    flex: 1;

    justify-content: center;
    align-items: center;
}

#login-signin-buttons a {
    display: flex;

    width: 159px;
    height: 50px;

    color: var(--primary-text-color);
    background-color: var(--medium-purple);

    border: none;
    border-radius: 7px;

    text-decoration: none;

    align-items: center;
    justify-content: center;
}

#login-signin-buttons a:hover {
    background-color: var(--light-purple);
}

#login-signin-buttons {
    text-align: center;
    color: var(--secondary-text-color);
}

#not-logged-message {
    text-align: center;
    color: var(--secondary-text-color);
}