:root {
    --almost-black: #0d0917;
    --dark-purple: #332a50;
    --medium-purple: #443C68;
    --light-purple: #635985;
    --primary-text-color: #fff;
    --secondary-text-color: #C9C2C2;
}

main {
    flex: 1;

    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    
    margin-left: 20vw;
}

main h1 {
    margin: 68px 0 10px 85px;
    
    font-size: 40pt;
}

.albuns-grid {
    display: grid;

    grid-template-columns: repeat(3, 220px);
    grid-auto-rows: 320px;
    gap: 40px;

    margin: 25px 0;

    flex: 1;

    justify-content: center;
}

.album-card {
    background-color: var(--light-purple);

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;

    cursor: pointer;
}

.album-card h6 {
    font-size: 20pt;
    margin: 10px 0 0 0;
    text-align: center;
}

.album-card p {
    font-size: 10pt;
    margin: 5px 0 0 0;

    color: var(--secondary-text-color)
}


.album-card img {
    width: 200px;
    height: 200px;

    margin-top: 10px;
}