:root {
    --almost-black: #0d0917;
    --dark-purple: #332a50;
    --medium-purple: #443C68;
    --light-purple: #635985;
    --primary-text-color: #fff;
    --secondary-text-color: #C9C2C2;
}

main {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;

    margin-left: 20vw;
}

main h1 {
    grid-column-start: 1;
    grid-column-end: 5;

    margin: 68px 0 10px 85px;
    
    font-size: 40pt;
}

main div h3 {
    font-size: 20pt;
}

main div p {
    font-size: 15pt;
}

main .main-column:first-of-type {
    grid-column-start: 1;
    grid-column-end: 3;

    margin-left: 85px;
}

main .main-column:last-of-type {
    grid-column-start: 3;
    grid-column-end: 5;
}

#chart-container {
    width: 200px;
    height: 200px;

    margin-left: 40px
}

#chat_div {
    background-color: black;
}

.music-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid var(--secondary-text-color);
    border-radius: 10px;

    margin: 10px 37px 0 0;

    overflow: hidden;
    cursor: pointer;
}

.music-card img:first-child {
    width: 80px;
    height: 80px;
}

.music-card-song {
    display:flex;
}

.music-card-song div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 22px;
}

.music-card-song h5 {
    margin: 0;
    font-size: large;
}

.music-card-song h6 {
    color: var(--secondary-text-color);
    margin: 3px 0 0 0;
}
