:root {
    --almost-black: #0d0917;
    --dark-purple: #332a50;
    --medium-purple: #443C68;
    --light-purple: #635985;
    --primary-text-color: #fff;
    --secondary-text-color: #C9C2C2;
}

body{
    display: flex;
    justify-content: space-between;
}

#left-nav {
    background-color: var(--dark-purple);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left-nav h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 300;
}

#playlists-cards {
    margin-top: 14vh;
    margin-left: 6%;
    margin-right: 6%;
}

.card-item {
    padding: 5px 12px;
    border-radius: 7px;
    margin-top: 10px;
    height: 40px;

    color: var(--secondary-text-color);
    background-color: var(--medium-purple);

    display: flex;
    align-items: center;

    cursor: pointer;
}

.card-item-selected {
    background-color: var(--light-purple);
    color: var(--primary-text-color);
}

.card-item img {
    width: 26px;
    height: 26px;
}

.card-item p {
    margin-left: 12px;   
}

.options-item {
    margin-left: 20px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;

    cursor: pointer;
}

.options-item img {
    width: 26px;
    height: 26px;
}

.options-item p {
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 0px;
}

.options-item:last-child {
    margin-bottom: 30px;
}

main {
    flex: 1;
    margin-left: 20vw;
    margin-right: 20vw;
}

main h1 {
    margin: 80px 0 50px 68px;
}

.music-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 18px 37px 0 37px;

    border: 1px solid var(--secondary-text-color);
    border-radius: 10px;

    overflow: hidden;
    cursor: pointer;
}

.music-card img:first-child {
    width: 80px;
    height: 80px;
}

.music-card img:last-child {
    width: 20px;
    height: 20px;
    margin-right: 35px;
}   

.music-card-song {
    display:flex;
}

.music-card-song div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 22px;
}

.music-card-song h5 {
    margin: 0;
    font-size: large;
}

.music-card-song h6 {
    color: var(--secondary-text-color);
    margin: 3px 0 0 0;
}

#right-nav {
    background-color: var(--dark-purple);
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.music-player {
    display: flex;
    flex-direction: column;
}

.music-player-song{
    width: 20vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
}

.music-player-song img:first-child{
    width: 20vw;
}

.music-player-song h1{
    margin: 17px 0 0 0;
    font-weight: 300;
}

.music-player-song h3{
    color: var(--secondary-text-color);
    margin: 5px 0 0 0;
}

.music-player-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.music-player-buttons img{
    width: 35px;
    cursor: pointer;
}

.queue {
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.queue-item {
    width: 18vw;
    height: 70px;

    margin-bottom: 27px;

    display: flex;

    color: var(--secondary-text-color);
    background-color: var(--medium-purple);

    border-radius: 10px;

    overflow: hidden;

    cursor: pointer;
}

.queue-item:last-child{
    margin-bottom: 0;
}

.queue-item div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 22px;
}

.queue-item h3{
    margin: 0;
    color: var(--primary-text-color);
}

.queue-item h4{
    color: var(--secondary-text-color);
    margin: 3px 0 0 0;
}