<div id="title-wrapper">
    <h1>{{ album.name }}</h1>
</div>

{% for song in album.songs %}
    <div class="music-card">
        <div class="music-card-song">
            <img src="data:image/png;base64,{{album.cover}}" alt="">
            <div>
                <h5>{{ song.title }}</h5>
                <h6>{{ song.album.artist.name }}</h6>
            </div>
        </div>
        <div>
            <img src="/images/play.png" alt="" onClick="retrieveSongInfo({{song.id}})">
            <img src="/images/add.png" alt="" onClick="addSongModal({{song.id}})">
        </div>
    </div>

    <div id="add-song-modal">
        <div id="add-song-modal-content">
            <span id="add-song-modal-close" onClick="closeAddSongModal()">&times;</span>
        </div>
    </div>
{% endfor %}