{% block artistAlbums %}
    {% for album in albums %}
        <div class="album-card" onclick="handleAlbumCardClick({{artist.id}},{{album.id}})">
            {% if album.cover %}
                <img src="data:image/png;base64,{{album.cover}}" alt="">
            {% else %}
                <img src="/images/music.png" alt="">
            {% endif %}
            <h6>{{album.name}}</h6>
            <p>{{album.year}}</p>
        </div>
    {% endfor %}
{% endblock  %}