{%block artistTopSongs%}

{% for song in topSongs %}
    <div class="music-card">
        <div class="music-card-song">
            <img src="data:image/png;base64,{{song.album.cover}}" alt="">
            <div>
                <h5>{{loop.index}}. {{song.title}}</h5>
                <h6>{{song.album.artist.name}}</h6>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock  %}