{% block artistAlbums %}
    {% for album in albums %}
        <div class="album-card">
            <img src="data:image/png;base64,{{album.cover}}" alt="">
            <h6>{{album.name}}</h6>
            <p>{{album.year}}</p>
        </div>
    {% endfor %}
{% endblock  %}