{% for song in songs %}
    <div class="music-card">
        <div class="music-card-song">
            <img src={{song.albumCover}} alt="">
            <div>
                <h5>{{song.id}}. {{song.title}}</h5>
                <h6>{{song.artist}}</h6>
            </div>
        </div>
    </div>
{% endfor %}