<div id="title-wrapper">
    <h1>{{ playlist.title }}</h1>

    {% if playlist.title != "Músicas Curtidas" %}
        <span onClick="removePlaylist({{playlist.id}})">Remover Playlist</span>
    {% endif %}
</div>

{% for song in playlist.songs %}
    <div class="music-card">
        <div class="music-card-song">
            <img src="/images/album.jpg" alt="">
            <div>
                <h5>{{ song.title }}</h5>
                <h6>{{ song.album.artist.name }}</h6>
            </div>
        </div>
        <div>
            <img src="/images/play.png" alt="">
            <img src="/images/remove.png" alt="" onClick="removeSongFromPlaylist({{playlist.id}}, {{song.id}})">
        </div>
    </div>
{% endfor %}