<div id="title-wrapper">
    {% if playlist.title != "Músicas Curtidas" %}
        <input 
            type="text" 
            value="{{ playlist.title }}" 
            onBlur="watchRenamePlaylistInputChanges(event, {{ playlist.id }}, '{{ playlist.title }}')" 
            onKeyup="watchRenamePlaylistInputChanges(event, {{ playlist.id }}, '{{ playlist.title }}')"
        >
        <span onClick="removePlaylist({{playlist.id}})">Remover Playlist</span>
    {% else %}
        <h1>{{ playlist.title }}</h1>
    {% endif %}
</div>

{% for song in playlist.songs %}
    <div class="music-card">
        <div class="music-card-song">
            <img src="data:image/png;base64,{{song.album.cover}}" alt="">
            <div>
                <h5>{{ song.title }}</h5>
                <h6>{{ song.album.artist.name }}</h6>
            </div>
        </div>
        <div>
            <img src="/images/play.png" alt="" onClick="retrieveSongInfo({{song.id}})">
            <img src="/images/remove.png" alt="" onClick="removeSongFromPlaylist({{playlist.id}}, {{song.id}})">
        </div>
    </div>
{% endfor %}